<template>
  <div>
    <h1>{{ message }} Ok My Dear</h1>
    <h2>{{ count }} </h2>

    <CompletedTodos></completedTodos>
    <GetTodo></GetTodo>
    <CurrentTodos></CurrentTodos>
  </div>
</template>

<script>
  import GetTodo from './GetTodo.vue';
  import CurrentTodos from './CurrentTodos.vue';
  import CompletedTodos from './CompletedTodos.vue';
  export default {
    data() {
      return {
        message: 'Hey Messages',
        count: 1
      }
    },
    created() {
      this.counted()
    },
    methods: {
      counted() {
        this.count++
      }
    },
    components: {
      GetTodo,
      CurrentTodos,
      CompletedTodos
    }
  }
</script>
