<template>
  <div>
    <h2>{{ message }} </h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books">
          <td>{{ book._id}} </td>
          <td>{{ book.title}}</td>
          <td>{{book.author.first_name}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" @click="cap()">Click</button>
  </div>
</template>


<script>
 export default{
  data(){
    return {
      message: 'Hey',
      books:[]
    }
  },
  methods: {
    cap() {
      axios.get('/catalog/books2')
      .then(response => {
        console.log(response.data)
        this.books = response.data
      })
      .catch(error => {
        console.log(error.toString())
      })
    }
  }
 }

</script>
