<template>
 <div id="vue" class="container">
 <ul>
   <li>
     <router-link :to="{ name: 'dashboard' }">Vue</router-link>
   </li>
   <li>
     <router-link :to =" { name: 'love' }">Love</router-link>
   </li>
 </ul>
 <transition name="fade" mode="out-in">
   <router-view></router-view>
 </transition>
 </div>
</template>
<script>

</script>
<style>
body {
 font-family: Helvetica, sans-serif;
}
</style>
